@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

.font-1 { font-family: 'Roboto', cursive; }
.font-2 { font-family: 'Karla', sans-serif; }
.font-3 { font-family: 'Raleway', sans-serif; }
.font-4 { font-family: 'Noto Sans JP', sans-serif; }
.font-5 { font-family: 'Open Sans', sans-serif; }

.light {
  --background-color: #a7a7a7;
  --background-image: url(/images/background-white.png);
  --color: black;
  --navbar-background: #08436b;

  --background-color-propostas: rgba(255,255,255,0.3);
  --scrollBar-color: #1070b1;
  --scrollBar-color-hover: #06314b;
  --background-color-02: rgba(20, 20, 20,0.9);

  --background-color-reverse: rgb(20, 20, 20);
  --background-image-reverse: url(/images/background-black.png);
  --color-reverse: white;
}
.dark {
  --background-color: rgb(20, 20, 20);
  --background-image: url(/images/background-black.png);
  --color: white;
  --navbar-background: #52cbcf;

  --background-color-propostas: rgba(38, 38, 38, 0.4);
  --scrollBar-color: #358285;
  --scrollBar-color-hover: #143233;
  --background-color-02: #a7a7a7d3;

  --background-color-reverse: #a7a7a7;
  --background-image-reverse: url(/images/background-white.png);
  --color-reverse: black;
}
.orange {
  --navbar-background: #ff9335;
}
.font-color { color: var(--color); }

.background-reverse {
  color: var(--color-reverse);
  background-color: var(--background-color-02);
  background-image: var(--background-image-reverse);
}

.zoom:hover { transform: scale(1.03); transition: 0.3s; }

.background-Propostas {
  background: var(--background-color-propostas);
  box-shadow: 1vh 0.3vh 2vh 0vh rgba(0, 0, 0, 0.5), 0 2vh 2vh 0 rgba(0, 0, 0, 0.5);
}

.buttonLogin2 {
  background: linear-gradient(to bottom right, #52cbcf, #358285);
  text-align: center;
  cursor: pointer;
  color: white
}
.buttonLogin2:hover {
  background: linear-gradient(to bottom right, #358285, #143233);
  text-align: center;
  cursor: pointer;
  color: white
}

.buttonLogin {
  background: linear-gradient(to bottom right, var(--navbar-background), var(--scrollBar-color));
  text-align: center;
  cursor: pointer;
  color: var(--color-reverse)
}
.buttonLogin:hover {
  background-image: linear-gradient(to bottom right, var(--scrollBar-color), var(--scrollBar-color-hover));
  color: var(--color)
}
.buttonBlock {
  background-image: linear-gradient(to bottom right, rgb(22, 22, 22), rgb(128, 128, 128));
  cursor: not-allowed;
}

.navbar-font-color { color: var(--navbar-background) }
.navbar-color {
  background: var(--navbar-background);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5), 0 5px 20px 0 rgba(55, 55, 55, 0.5);
  color: var(--color-reverse);
}
.navbar-select { background: #ff9335 }
.navbar-color-select:hover { background: #feb06c }
.navbar-icons-select:hover { color: #ff7700 }
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 4.5vw;
  width: 4.5vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
}
.body {
  margin-left: 4.5vw;
  margin-top: 10vh;
  width: 95.5vw;
  height: 88vh
}
.width5 { width: 4.5vw; min-width: 4.5vw; }
.height5vw { height: 5vw }

.visibleAndroid { display: none }
@media screen and (max-width: 900px) {
  .invisibleAndroid { display: none!important }
  .visibleAndroid { display: flex }
  .sidebar { max-width: 17vw; width: 17vw }
  .body { margin-left: 17vw; width: 83vw; max-width: 83vw; overflow-x: hidden!important; }
  .width3 { width: 3vw!important }
  .width5 { width: 17vw!important; min-width: 17vw!important; }
  .width10-5 { width: 10.5vw!important; max-width: 10.5vw!important; }
  .width16 { width: 16vw!important; }
  .width18 { width: 18vw!important; }
  .width20-5 { width: 20.5vw!important; max-width: 20.5vw!important }  /* */
  .width27-5 { width: 27.5vw!important; }  /* */
  .width35 { width: 35vw!important; }
  .width40 { width: 40vw!important; }
  .width56-5 { width: 56.5vw!important; max-width: 56.5vw!important } /* */
  .width66-5 { width: 66.5vw!important; max-width: 66.5vw!important } /* */
  .width74 { width: 74vw!important; }
  .width77 { width: 77vw!important; }
  .width79 { width: 79vw!important; max-width: 79vw!important; }
  .width92-5 { width: 92.5vw!important }
  .height3vw { height: 3vw!important }
  .height5vw { height: 17vw }
  .max-width14 { max-width: 14vw!important }
  .max-width22-5 { max-width: 22.5vw!important }
  .max-width18 { max-width: 18vw!important }
  .left10 { left: 10vw!important; }
  .width10 { width: 6vw!important }
  .margin-left7-5 { margin-left: 7.5vw!important }
  .margin-top2 { margin-top: 2vh!important }
  .font-size2 { font-size: 2vh!important }
  .font-size1-5 { font-size: 1.5vh!important }

  body { overflow: hidden!important }
}

.loader-wheel {
  animation: spin 1s infinite linear;
  /* border: 0.5vh solid rgba(50, 50, 50, 0.7); */
  border-left: 0.7vh solid var(--navbar-background);
  border-radius: 50%;
  height: 6vh;
  width: 6vh;
}
.loader-text:after {
  font-size: 3vh;
  animation: load 2s linear infinite;
}

::-webkit-scrollbar{
  width: 0.5vw;
}
::-webkit-scrollbar-thumb{ 
  background: var(--scrollBar-color);
  border-radius: 1vh;
}
::-webkit-scrollbar-thumb:hover{ 
  background: var(--scrollBar-color-hover);
}
::-webkit-scrollbar-track:hover{
  position: absolute;
  border-radius: 1vh;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

input { color: var(--color) }

input:focus, textarea:focus, select:focus { outline: none; }

body {
  color: var(--color);
  background-color: var(--background-color);
  background-image: var(--background-image);

  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden!important;
  font-family: 'Roboto', cursive;
}

body, p { margin: 0 }
